/************************************************************************
CSS FOR LIST
************************************************************************/
/************************************************************************
LEFT CENTER LIST CSS
************************************************************************/
#center-list {
    background-color: #F0F0F0;
    overflow:auto;
}
/************************************************************************
ITEM LIST 
************************************************************************/
.center-list-item{
    margin:10px;
    vertical-align:middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
}
.center-list-image {
    background-color: #A0A0A0;
    width:82px;
    height:82px;
    margin:0;
    float:left;
}

.center-list-list {
    width:130px;
    float:right;
    margin-left:15px;
}
.center-list-div {
    display:inline-block;
    width:100%;
}
.item-name {
    font-size:20px;
}
.item-time {
    font-size: 18px;
    font-weight:300;
}
/************************************************************************
SHAPING
************************************************************************/
.circle {
    border-radius: 50%;
}
