/************************************************************************
CSS FOR LIST
************************************************************************/

/************************************************************************
CONTAINERS
************************************************************************/
#container-1 {
    float:left;
    width:40%;
    margin: 5%;
    overflow:auto;
}
#container-2 {
    float:right;
    margin: 5%;
    width:40%;
    overflow:auto;
}
.fade-top {
    position:absolute;
    height:80px;
    width:100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(255,255,255,1.0)), color-stop(0, rgba(255,255,255,0.0)));
}
.fade-bottom{
    position:absolute;
    height:80px;
    width:100%;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(255,255,255,0.0)), color-stop(0, rgba(255,255,255,1.0)));
}
/************************************************************************
LEFT CENTER LIST CSS
************************************************************************/
#center-list {
    background-color: #FFF;
    overflow:auto;
}
#center-list-2 {
    background-color:#FFF;
    overflow:auto;
}
/************************************************************************
ITEM LIST 
************************************************************************/
.center-list-item{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:400;
    opacity:0.4;
    transition: .3s;
}
.center-list-item:hover {
    opacity:1;
}
.center-list-list {
    vertical-align:middle;
    width:130px;
    float:left;
}
.center-list-image {
    background-color: #A0A0A0;
    margin:0;
    float:left;
}
.item-name {
    font-size:20px;
}
.item-time {
    font-size: 18px;
    font-weight:300;
}

/************************************************************************
SHAPING
************************************************************************/
.circle {
    border-radius: 50%;
}
/************************************************************************
TABLE 
************************************************************************/
.table-child{
    vertical-align:middle;
}
